///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Macro name  : ZionBasicCircuitLib_ArithmShiftRightM
// Author      : Wenheng Ma
// Date        : 2019-10-14
// Version     : 1.0
// Parameter   : None
// Description :
//   Arithmetic shift right.
//   It is a Single Line Macro.
// Modification History:
//   Date   |   Author   |   Version   |   Change Description
//======================================================================================================================
// 19-10-14 | Wenheng Ma |     1.0     |   Original Version
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

`define ZionBasicCircuitLib_ArithmShiftRightM(dat,shift) ($bits(dat)'({{$bits(dat){dat[$high(dat)]}},dat} >> shift))