///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Macro name  : ZionBasicCircuitLib_RotateLeftM
// Author      : Wenheng Ma
// Date        : 2019-10-16
// Version     : 1.0
// Parameter   : None
// Description :
//   Rotate left.
// Modification History:
//    Date    |   Author   |   Version   |   Change Description
//======================================================================================================================
// 2019-10-14 | Wenheng Ma |     1.0     |   Original Version
// 2019-10-29 |  Yudi Gao  |     2.0     |   add testbench
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

`ifndef Disable_ZionBasicCircuitLib_RotateLeftM
  `ifdef ZionBasicCircuitLib_RotateLeftM
    `__DefErr__(ZionBasicCircuitLib_RotateLeftM)
  `else
    `define ZionBasicCircuitLib_RotateLeftM(dat,shift) ({1<<{$bits(dat)'({{1<<{dat}},{1<<{dat}}} >> shift)}})
  `endif
`endif
