///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Macro name  : ZionBasicCircuitLib_ArithmShiftRightM
// Author      : Wenheng Ma
// Date        : 2019-10-14
// Version     : 2.0
// Parameter   : None
// Description :
//   Arithmetic shift right.
// Modification History:
//    Date    |   Author   |   Version   |   Change Description
//======================================================================================================================
// 2019-10-14 | Wenheng Ma |     1.0     |   Original Version
// 2019-10-29 |  Yudi Gao  |     2.0     |   add testbench
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

`ifndef Disable_ZionBasicCircuitLib_ArithmShiftRightM
  `ifdef ZionBasicCircuitLib_ArithmShiftRightM
    `__DefErr__(ZionBasicCircuitLib_ArithmShiftRightM)
  `else
    `define ZionBasicCircuitLib_ArithmShiftRightM(dat,shift) ($bits(dat)'({{$bits(dat){dat[$high(dat)]}},dat} >> shift))
  `endif
`endif
