///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Macro name  : ZionBasicCircuitLib_HighB
// Author      : Wenheng Ma
// Date        : 2019-10-27
// Version     : 2.0
// Parameter   : None
// Description :
//   Get highest bit of input data.
// Modification History:
//    Date    |   Author   |   Version   |   Change Description
//======================================================================================================================
// 2019-10-14 | Wenheng Ma |     1.0     |   Original Version
// 2019-10-29 |  Yudi Gao  |     2.0     |   add testbench
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

`ifndef Disable_ZionBasicCircuitLib_HighB
  `ifdef ZionBasicCircuitLib_HighB
    `__DefErr__(ZionBasicCircuitLib_HighB)
  `else
    `define ZionBasicCircuitLib_HighB(dat) (dat[$high(dat)])
  `endif
`endif