///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Macro name  : ZionBasicCircuitLib_ZeroExtdM
// Author      : Wenheng Ma
// Date        : 2019-10-14
// Version     : 2.0
// Parameter   : None
// Description :
//   Zero extend 'dat'(data) according to the 'WIDTH'.
// Modification History:
//    Date    |   Author   |   Version   |   Change Description
//======================================================================================================================
// 2019-10-14 | Wenheng Ma |     1.0     |   Original Version
// 2019-10-29 |  Yudi Gao  |     2.0     |   add testbench
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

`ifndef Disable_ZionBasicCircuitLib_ZeroExtdM
  `ifdef ZionBasicCircuitLib_ZeroExtdM
    `__DefErr__(ZionBasicCircuitLib_ZeroExtdM)
  `else
    `define ZionBasicCircuitLib_ZeroExtdM(dat,WIDTH) ({{(WIDTH-$bits(dat)){1'b0}},dat})
  `endif
`endif
