///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Macro name  : ZionBasicCircuitLib_AbsM
// Author      : Wenheng Ma
// Date        : 2019-10-16
// Version     : 2.0
// Parameter   : None
// Description :
//   Get absolute value.
// Modification History:
//    Date    |   Author   |   Version   |   Change Description
//======================================================================================================================
// 2019-10-14 | Wenheng Ma |     1.0     |   Original Version
// 2019-10-29 |  Yudi Gao  |     2.0     |   add testbench
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

`ifndef Disable_ZionBasicCircuitLib_AbsM
  `ifdef ZionBasicCircuitLib_AbsM
    `__DefErr__(ZionBasicCircuitLib_AbsM)
  `else
    `define ZionBasicCircuitLib_AbsM(dat) ((dat[$high(dat)])? (~dat+1'b1) : dat)
  `endif
`endif