///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Macro name  : ZionBasicCircuitLib_SignExtdM
// Author      : Wenheng Ma
// Date        : 2019-10-14
// Version     : 1.0
// Parameter   : None
// Description :
//   Signed extend 'dat'(data) according to the 'WIDTH'.
// Modification History:
//    Date    |   Author   |   Version   |   Change Description
//======================================================================================================================
// 2019-10-14 | Wenheng Ma |     1.0     |   Original Version
// 2019-10-29 |  Yudi Gao  |     2.0     |   add testbench
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

`ifndef Disable_ZionBasicCircuitLib_SignExtdM
  `ifdef ZionBasicCircuitLib_SignExtdM
    `__DefErr__(ZionBasicCircuitLib_SignExtdM)
  `else
    `define ZionBasicCircuitLib_SignExtdM(dat,WIDTH) ({{(WIDTH-$bits(dat)+1){dat[$high(dat)]}},dat[$high(dat)-1:$low(dat)]})
  `endif
`endif